.feature {
  //background-color: $limeGreen;
  background-image: linear-gradient(to top, $limeGreen, $white);
  text-align: center;

  @include breakpoint-up(medium){
    text-align: center;
  }

  &__intro {
    margin-bottom: 3.75rem;

    @include breakpoint-up(large){
      width: 80%;
      text-align:center;
      margin:auto;
    }
  }
  &__eyebrow{
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 6px;
  }
  &__grid {

    @include breakpoint-up(medium){
      display: flex;
      flex-wrap: wrap;     
    }
  }

  &__iconDiv {
    border-radius: 50%;
    background-color:$highGreen;
    //background-image: linear-gradient(to right, $limeGreen, $limeGreen);
    height: 70px;
    width: 70px;
    margin:auto;
    display: flex;
    flex-direction:column;

    align-items:center;
    justify-content:center;
    >.material-icons {
      color:$white;
      font-size:40px;
    }
    
  }

  &__item {
   
    
    padding: 0.9375rem;
    margin:4px;
    

    @include breakpoint-up(medium){
      flex: 0 0 50%;
    }

    @include breakpoint-up(large){
      flex: 1;
    }
  }

  &__icon {
    margin-bottom: 1.875rem;

    @include breakpoint-up(large){
      margin-bottom: 2.75rem;
    }    
  }

  &__title {
    font-size: 1.45rem;
    font-weight: 700;
    line-height: 1.15;
    color: $darkBlue;
    margin-bottom: 1rem;

    @include breakpoint-up(large){
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.5;
    color:$darkBlue;

  }
}